:root{
    --color-primary: #35A7FF;
    
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Navbar */


.navbar-brand img {
    width: 70px;
    height: auto;
}


.navbar {
    background-color: var(--color-primary);
    font-family: 'Abyssinica SIL', serif;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
}
/* Banner */
.header-image {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px; 
}
/* ¿Qué es dislexia */
.container h1, .container p {
    text-align: left;
}

.container h1 {
    font-weight: bold;
    margin: 0 0 1em 0;
}

.container p {
    font-size: 1.2em;
}

.section {
    padding: 20px 0;
}

.btn-learn-more {
    margin-top: 20px;
    width: 130px; 
    padding: 5px 10px; 
    float: left; 
    margin-left: 0; 
}

.btn-primary {
    background-color: #35A7FF;
    border-color: #35A7FF;
}

/* secciones */
.container.section.text-white.caucons{
    margin-bottom: 100px;
}

.caucons{
    background-color: var(--color-primary);
    border-radius: 25px;
    width: 90%;
}

.col-md-6{
    padding-left: 20px;
    padding-right: 20px;
}

.card-title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

.card-text{
    margin-left: 50px;
    margin-right: 50px;
}

.card-image{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-top: 10px;
}

.container.mt-4{
    margin-bottom: 100px;
}

.myth-image {
    width: 80%; 
    height: auto; 
    border-radius: 10px;
    display: block; 
}

.info-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}
.mitos h2{
    text-align: left;
    font-weight: bold;
    margin: 0 0 1em 0;
}

/* footer */
.footer{
    background-color: var(--color-primary);
    padding: 5em 0 1em 0;
    color: #fff;
}

.footer-head{
    display: flex;
    gap: 4em;
}

.img-footer{
    width: 20%;
}

.footer-head img{
    width: 12em;
    height: auto;
}

.footer-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center{
    display: flex;
    margin: 3em 0;
}

.mision{
    width: 50%;
}

.mision h4{
    font-weight: bold;
}

.mision p{
    text-align: left;
}

.list{
    width: 50%;
}

.list ul li{
    margin: .5em 0;
    font-weight: bold;
}

.footer-end p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

/* Evaluaciones */
.container.mt-4.carrusel{
    width: 80%;
}

.container.mt-4.eval {
    margin-bottom: 50px;
}

.container.mt-4.eval .text-center h1 {
    text-align: center;
}

/* Carrusel */
.container.mt-4.carrusel{
    width: 80%;
}

.carousel-inner {
    width: 100%;
    border-radius: 25px;
    background-color: gray;
}

.carousel-item {
    margin-bottom: 45px;
}

.carousel-image {
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    color: black; 
    text-align: center; 
    background: lightblue; 
    padding: 5px; 
    max-width: 80%;
}

.carousel-caption h3 {
    margin: 0;
    font-size: 2.5vw; 
}

.carousel-control-prev {
    background-color: grey;
    border-radius: 25px 0 0 25px;
}

.carousel-control-next {
    background-color: grey;
    border-radius: 0 25px 25px 0;
}

/* Articulo */
.container.mt-4.art {
    margin-bottom: 50px;
}

.titulo{
    font-size: 2.5em;
}

/* aqui para hacer resposivo */

@media (max-width: 426px) {
    .carousel-caption h3 {
        font-size: 5vw; 
    }
}

@media (max-width: 426px) {
    .titulo {
        font-size: 2em; 
    }
}



@media (max-width: 768px) {
    .header-image{
        width: 100%;
    }

}


@media (max-width: 426px) {
    .footer-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .img-footer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .mision{
        width: 80%;
    }

    .list{
        width: 80%;
    }

    .list ul{
    list-style-type: none;
    padding: 0;
}
}
/* ......... */