:root{
    --color-primary: #35A7FF;
    
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Navbar */


.navbar-brand img {
    width: 70px;
    height: auto;
}


.navbar {
    background-color: var(--color-primary);
    font-family: 'Abyssinica SIL', serif;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
}
/* Banner */
.header-image {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px; 
}
/* ¿Qué es dislexia */
.container h1, .container p {
    text-align: left;
}

.container h1 {
    font-weight: bold;
    margin: 0 0 1em 0;
}

.container p {
    font-size: 1.2em;
}

.section {
    padding: 20px 0;
}

.btn-learn-more {
    margin-top: 20px;
    width: 130px; 
    padding: 5px 10px; 
    float: left; 
    margin-left: 0; 
}

.btn-primary {
    background-color: #35A7FF;
    border-color: #35A7FF;
}

/* secciones */
.container.section.text-white.caucons{
    margin-bottom: 100px;
}

.caucons{
    background-color: var(--color-primary);
    border-radius: 25px;
}

.col-md-6{
    padding-left: 20px;
    padding-right: 20px;
}

.card-title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

.card-text{
    margin-left: 50px;
    margin-right: 50px;
}

.card-image{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-top: 10px;
}

.container.mt-4{
    margin-bottom: 100px;
}

.myth-image {
    width: 70%; 
    height: auto; 
    border-radius: 10px;
    display: block; 
}

.info-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}
.mitos h2{
    text-align: left;
    font-weight: bold;
    margin: 0 0 1em 0;
}

/* footer */
.footer{
    background-color: var(--color-primary);
    padding: 5em 0;
}

.footer-head{
    display: flex;
    gap: 4em;
}

.img-footer{
    width: 20%;
}

.footer-head img{
    width: 12em;
    height: auto;
}

.footer-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center{
    display: flex;
    margin: 3em 0;
}

.mision{
    width: 50%;
}

.mision h4{
    font-weight: bold;
}

.mision p{
    text-align: left;
}

.list{
    width: 50%;
}

.list ul li{
    margin: .5em 0;
    font-weight: bold;
}

.footer-end p{
    text-align: left;
    font-weight: bold;
}