:root{
    --color-primary: #35A7FF;
    
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Navbar */

.navbar-brand img {
    width: 70px;
    height: auto;
}


.navbar {
    background-color: var(--color-primary);
    font-family: 'Abyssinica SIL', serif;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: bold;
}
/* Banner */
.header-image {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px; 
}
/* ¿Qué es dislexia */
.container h1, .container p {
    text-align: justify;
}

h1 {
    font-weight: bold;
    margin: 0 0 1em 0;
}

.container p {
    font-size: 1.2em;
}

.section {
    padding: 20px 0;
}

.btn-learn-more {
    margin-top: 20px;
    width: 130px; 
    padding: 5px 10px; 
    float: left; 
    margin-left: 0; 
}

.btn-primary {
    background-color: #35A7FF;
    border-color: #35A7FF;
}

/* secciones */
.container.section.text-white.caucons{
    margin-bottom: 100px;
}

.caucons{
    background-color: var(--color-primary);
    border-radius: 25px;
    width: 90%;
}

.caucons-cont{
    margin: 2em 0;
}

.lista{
    font-size: 1.2em;
}

.col-md-6{
    padding-left: 20px;
    padding-right: 20px;
}

.card-title{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1em 0;
}

.card-text{
    margin-left: 50px;
    margin-right: 50px;
}

.card-image{
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.container.mt-4{
    margin-bottom: 100px;
}

.myth-image {
    width: 80%; 
    height: auto; 
    border-radius: 10px;
    display: block; 
}

.info-image {
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
}
.mitos h2{
    text-align: left;
    font-weight: bold;
    margin: 0 0 1em 0;
}

/* referencias */
.ref{
    margin-bottom: 4em;
}

.ref ul{
    width: 100%;
}

/* footer */
.footer{
    background-color: var(--color-primary);
    padding: 5em 0 1em 0;
    color: #fff;
}

.footer-head{
    display: flex;
    gap: 4em;
}

.img-footer{
    width: 20%;
}

.footer-head img{
    width: 12em;
    height: auto;
}

.footer-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center{
    display: flex;
    margin: 3em 0;
}

.mision{
    width: 50%;
}

.mision h4{
    font-weight: bold;
}

.mision p{
    text-align: left;
}

.list{
    width: 50%;
}

.list ul li{
    margin: .5em 0;
    font-weight: bold;
}

.footer-end p{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

/* Evaluaciones */
.container.mt-4.carrusel{
    width: 80%;
}

.container.mt-4.eval {
    margin-bottom: 50px;
}

.container.mt-4.eval .text-center h1 {
    text-align: center;
}

.eval-container{
    width: 70%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eval-card{
    max-width: 450px;
    border-radius: 12px;
    box-shadow: 0 0 0 2px black; 
    margin-bottom: 15px;
    min-height: 600px;
}

.eval-card-img-top{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 5px 5px -3px black;
}

.eval-card-body h3{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

.eval-card-body p{
    text-align: justify;
    padding: 10px 25px 25px 25px;
    font-size: 1em;
}

.eval-btn {
    width: 130px; 
    padding: 5px 10px; 
    float: left; 
    margin-left: 0; 
    margin-bottom: 50px; 
}

.ini-btn {
    background-color: #35A7FF;
    border-color: #35A7FF;
}

/* Carrusel 
.container.mt-4.carrusel{
    width: 70%;
}

.carousel-inner {
    width: 100%;
    border-radius: 25px;
    background-color: gray;
}

.carousel-item {
    margin-bottom: 45px;
}

.carousel-image {
    max-width: 100%;
    max-height: 500px;
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    color: black; 
    text-align: center; 
    background: lightblue; 
    padding: 5px; 
    max-width: 80%;
}

.carousel-caption h3 {
    margin: 0;
    font-size: 2.5vw; 
}

.carousel-control-prev {
    background-color: grey;
    border-radius: 25px 0 0 25px;
}

.carousel-control-next {
    background-color: grey;
    border-radius: 0 25px 25px 0;
}
*/

/* Articulo */
.container.mt-4.art {
    margin-bottom: 50px;
}

.container.mt-4.art p{
    text-align: justify;
}

.titulo{
    font-size: 2.5em;
}

.lista-art > ul > li {
    font-size: 1.2em; 
    text-align: justify;
}

.lista-art > ul > li > ul > li:not(:after) {
    font-size: 1.2em; 
    text-align: justify;
}

/* Formulario de contacto */

.cont{
    display: flex;
    align-items: center;
    height: 90vh;
    width: 75%;
    margin: 0 auto;
}

.contact{
    display: flex;
    height: 80%;
    gap: 2em;
}

.info-contact{
    width: 50%;
}

.info-contact p{
    margin: 0 0 2em 0;
}

.info-contact .img-contact{
    text-align: center;
}

.img-contact img{
    width: 40%;
}

.form-contact{
    width: 50%;
}

.form-group{
    margin: 1em 0;
}

.modal-content{
    border-radius: 1.5em;
}

.modal-body{
    margin: 0 0 1em 0;
}

.modal-body img{
    width: 6em;
    margin: 2em;
}

.modal-body h2{
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
}
/* Navbar contacto */

.contt{
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.nav-link:hover{
    color: #000000;
}

/* Memorama */

.memory-game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -75px;
}

.memo-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    max-width: 90%; 
    margin: 0 auto; 
}

.memo-card {
    width: 100%; 
    height: 0;
    padding-top: 100%; 
    background-color: lightblue;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease; 
}

.memo-card.flipped {
    background-color: white;
    box-shadow: 0 0 0 2px black; 
    transform: scale(0.95); 
}

.memo-card:hover{
    transition: transform 0.2s ease;
    transform: scale(1.05); 
}

.container.mt-4.memo {
    margin-bottom: 0px;
}

.container.mt-4.memo .text-center h1 {
    text-align: center;
}

.div-btn-sig{
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: -50px;
}

.sig-btn{
    width: 100px;
}

/* acerca-de */
.about-section {
    background-color: #f8f9fa;
    padding: 60px 0;
    text-align: justify;
}

.about-section p{
    text-align: justify;
}
.about-section ul{
    font-size: 1.2em;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7;
}

.about-section .row.mt-5 {
    margin-top: 50px;
}
.btn-contacto {
    background-color: #35A7FF;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }
/* Completa la palabra */

.words-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
.exercise-container {
    max-width: 500px;
    padding: 20px;
    border: 2px solid #35A7FF;
    border-radius: 10px;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    margin-bottom: 25px;
}

.word-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.word-slot {
    width: 80px;
    height: 50px;
    border: 2px dashed #35A7FF;
    display: inline-block;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.syllable {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    background-color: #35A7FF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.syllable.correct {
    background-color: #4CAF50;
}

/* Catalogo de instituciones */
.inst{
    margin-bottom: 3em;
}

.association-section iframe {
    width: 100%;
    max-width: 100%;
}

.association-section {
    overflow: hidden;
}

/* Registro */

.regis{
    margin: 3em 0;
}


/* responsive */

@media (max-width: 426px) {
    /* index */
    .caus-cont{
        margin: 0 0 2em 0;
    }

    /* articulo */
    .titulo{
        font-size: 2em;
    }

    /* footer */
    .footer-head{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    .img-footer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .mision{
        width: 80%;
    }

    .list{
        width: 80%;
    }

    .list ul{
        list-style-type: none;
        padding: 0;
    }

    .footer-name{
         width: 80%;
    }

    .footer-name h1{
        font-size: 1.5em;   
    }

    /* contacto */

    .cont{
        display: flex;
        align-items: center;
        height: auto;

    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-contact h1{
        text-align: center;
    }

    .img-contact img{
        width: 80%;
    }

    .info-contact{
        width: 80%;
    }

    .form-contact{
        width: 80%;
    }

    .contt{
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
        width: 93%;
    }
    /* evauaciones */
    .eval{
        padding: 0 45px;
    }
    .col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }

    /* catalogo instituciones */
    .inst{
        padding: 0 45px;
    }

    /* Acerca de */
    .about-section{
        padding: 60px 40px;
    }

    /* carrusel
    .carousel-caption h3 {
        font-size: 4vw; 
    }

    .titulo {
        font-size: 2em; 
    }
    */

    /* Memorama */ 
    .memo-cards {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .memory-game{
        margin-bottom: 25px;
        margin-top: 10px;
        width: 90%;
        margin-left: 7%;
    }

    .memo-card {
        width: 125px;
        height: 125px;
        padding-top: 75px; 
    }

    .container.mt-4.memo {
        padding-bottom: 15px;
    }
}

@media (max-width: 375px) {
    /* Memorama */
    .memo-cards {
        grid-template-columns: repeat(2, 1fr); 
        max-width: 350px;
        gap: 5px;
    }

    .memory-game{
        margin-bottom: 25px;
        margin-top: 10px;
        max-width: 85%;
        margin-left: 30px;
    }

    .memo-card {
        width: 125px;
        height: 125px;
        padding-top: 75px; 
    }
}

@media (max-width: 768px) {
    .header-image{
        width: 100%;
    }

    /* contacto */
    .cont{
        height: auto;
        margin: 4em 0;
        width: auto;
    }

    /* memorama */
    .memo-cards {
        grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    }

    .memo-card:hover {
        transform: none;
        transition: none;
    }

    .container.mt-4.memo {
        margin-bottom: 75px;
    }

    /* evaluaciones */

    .eval-card-body h3{
        font-size: 1.5rem;
    }
    
    .eval-card-body p{
        font-size: 1rem;
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    /* Memorama */
    .memo-cards {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .memory-game{
        margin-top: -75px;
    }
}