.no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.static,
.filled {
    pointer-events: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    cursor: default;
    user-select: none; /* Previene la selección del texto */
}

.words-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercise-container {
    width: 90%;
    max-width: 750px;
    padding: 25px;
    border: 2px solid #35A7FF;
    border-radius: 15px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 0 auto;
}

.exercise-container:hover {
    transform: scale(1.05);
}

.exercise-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.word-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 100%;
}

.word-slot {
    width: 90px;
    height: 60px;
    border: 2px dashed #35A7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 1.4em;
    background-color: #fff;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.word-slot.correct {
    background-color: #4CAF50;
    color: #fff;
}

.word-slot.incorrect {
    background-color: #FF6347;
    color: #fff;
}

.syllable, .syllables-container .syllable {
    display: inline-block;
    width: 90px;
    height: 45px;
    padding: 12px 16px;
    margin: 0 10px;
    background-color: #35A7FF;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: center;
    line-height: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.syllable:hover, .syllables-container .syllable:hover {
    background-color: #2A95E0;
    transform: translateY(-2px);
}

.syllable.correct, .syllables-container .syllable.correct {
    background-color: #4CAF50;
}

.syllable.incorrect, .syllables-container .syllable.incorrect {
    background-color: #FF6347;
}

.sig-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #35A7FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.sig-btn:hover {
    background-color: #2A95E0;
    transform: translateY(-2px);
}

.link-no-underline {
    text-decoration: none;
}

.siguiente-btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #35A7FF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.siguiente-btn:hover {
    background-color: #2A95E0;
    transform: translateY(-2px);
}

.exercise-image img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .exercise-container {
        flex-direction: column;
        padding: 20px;
    }
    
    .exercise-content {
        width: 100%;
    }
    
    .word-slot, .syllable, .syllables-container .syllable {
        width: 70px;
        height: 50px;
        font-size: 1.2em;
    }
    
    .exercise-image img {
        max-width: 160px;
        margin-top: 15px;
    }
    
    .siguiente-btn, #finalizeButton {
        font-size: 1.1em;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .word-slot, .syllable, .syllables-container .syllable {
        width: 60px;
        height: 40px;
        font-size: 1em;
    }
    
    .siguiente-btn, #finalizeButton {
        font-size: 1em;
        padding: 8px 16px;
    }
}
